<h1>Contacte l'équipe</h1>

  <p>Pour contacter l'équipe (dont mon ami imaginaire dévelopeur) il te suffit de cliquer sur le lien ci-contre: <a href="mailto:benjamindecazenave@gmail.com">benjamindecazenave@gmail.com</a>
  </p>
